#rbenv-gemset folder
.gems/

# Confidential files
config.yml
data/

# Autogenrated
.sass-cache/
assets/js/dist

# npm dependencies
node_modules/
npm-debug.log

# Test directory
test/

# misc
test.rb
.DS_Store
.idea
