<!doctype html>
<html>
    <head>
        <style>
         canvas {
             margin-top: 20px;
         }
         body {
             max-width: 778px;
         }
        </style>
        <script src="http://fb.me/react-0.13.1.min.js"></script>
        <script type="text/javascript" src="/node_modules/chart.js/Chart.min.js"></script>
        <script src="/js/bundle.js"></script>
    </head>

    <body>
        <div id="examples"></div>
    </body>
</html>
