<!doctype html>
<html>
    <head>
        <meta />
        <meta content='text/html; charset=utf-8' http-equiv='content-type'>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1' name='viewport'>
        <title>Ginatra</title>
        <link href="/css/main.css" rel="stylesheet"/>
        <script src="/js/bundle.js" type="text/javascript"></script>
    </head>

    <body>
        <%= erb :header %>
        <div class="row full">
            <!-- today commits overview -->
            <div class="half">
                <h2>Today</h2>
                <div id="today-overview"></div>
            </div>
            <div class="half">
                <h2>Sprint overview</h2>
                <div id="sprint-overview"></div>
            </div>
        </div>
        <div class="row full">
            <div id="repo-info"></div>
        </div>
        <%= erb :footer %>

    </body>
</html>
