.repo-button {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 100px;
  line-height: 90px;
  margin-bottom: 20px;
  text-align: center;
  transition: background-color 0.1s ease-out;
}
